:root {
	font-size: 16px;
}


*
{
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
}

html,body{
	width:100%;
	height:100%;
}

h1
{
	padding-top: 8%;
	padding-right: 7%;
	padding-left: 7%;
	font-family: Oranienbaum;
	font-style: normal;
	font-weight: normal;
	font-size: 50px;
	line-height: 58px;
	text-align: center;
	color: #E0E0E0;
	text-shadow: 3px 5px 4px rgba(0, 0, 0, 0.3);
}


#background-section
{
	position:relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	background-image: url(../Bilder/Hintergrund_Startseite_Desktop.jpg);
	width: 100%;
	height: 100%;
}

ul
{
	margin-left: 0;
	padding-top: 5px;
}

li
{
	list-style-type: none;
}






#main-nav
{
	text-align: left;
	margin: 10px 20px 0 0;
	padding-right: 5%;
	opacity: 1;
	z-index: 100;
}




.NavbarListItem 
{
	transition: 300ms ease;
	font-size: 1.5rem;
	padding: 0.5%;
	background-color: #C4C4C4;

	opacity: 0.7;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	z-index: 200;
}

.NavbarListItem a
{
	color: #444444;
	font-size: 1.5rem;
}


.NavbarListItem:hover
{
	opacity: 1;
}

.grid-ul-header{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap-reverse;
}

#Trailer_Startseite
{
	align-content: center;
	width: 46%;
	padding-left: 27%;
	margin-top: 3%;
}

#Trailer_Startseite:fullscreen{
	width: 100%;
	height: 100%;
	margin: 0%;
	padding: 0%;
	float: left;
}

#Fachvorstellung_Video:fullscreen{
	width: 100%;
	height: 100%;
	margin: 0%;
	padding: 0%;
	float: left;
}

#Trailer_Schulrundflug
{
	align-content: center;
	width: 90%;
	padding-left: 5%;
	margin-top: 3%;
}

#Trailer_Schulrundflug:fullscreen
{
	width: 100%;
	height: 100%;
	margin: 0%;
	padding: 0%;
	float: left;
}




a
{
	color:black;
	font-size:17px;
	opacity: 1;
	text-decoration: none;
}


.FormDiv
{
	background-color: rgba(255, 255, 255, 0.5);
	width: 80%;
	margin-left: 10%;
	height: 100%;
	overflow-y: scroll;
}

#Startseite
{
	width: 70%;
	margin-left: 15%;
	margin-right: 15%;
	background-color: rgba(255, 255, 255, 0.5);
	margin-bottom: 1%;
	margin-top: 1.5%;
}

.OffsetDiv
{
	margin-top: 1.5vh;
	height: 90vh;
}

.BannerNav
{
	background-color: black;
	display: block;
	padding: 1em 0;
	text-align: left;
	width: 200px;
}

nav a 
{
	color: white;
	margin: 0 1em;
	text-decoration: none;
}


.BannerDiv
{
	background-color: black;
	width: 80%;
	margin-left: 10%;
	height: 65%;
	overflow: scroll;
	margin-top: 3%;
	
}

.BannerDiv
{
	overflow-x: hidden;	
}

.extrasForm{
	display: flex; 
	align-items: flex-start;
}

.searchForSomethink{
	position: fixed; 
	margin-left: 1vw; 
	margin-top: 3vh;
	color: #fff; 
	font-size: 2vh;
}

#content:hover{
	box-shadow: #444444 solid 4px 2px;
	-webkit-box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.75);
}


.FAQ{
	text-align: center;
	color: #C4C4C4;
}
.FAQHeadline{
	color:rgb(255, 136, 0)
}
#Fließtext{
	margin-bottom: 50%;
	color: #ffffff;
}

/*#2E0000 #400000, oder black
Farbabstimmung erfolgt demnächst*/

.Scrollbody
{
	position:relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	background-image: url(../Bilder/Hintergrund_Startseite_Desktop.jpg);
	width: 100%;
	height: 100%;
	overflow-y: scroll;
}

.newContainer{
	background-color: rgba(0, 0, 0, 0.4);
	margin-top: 0%;
}

.FAQ{
	margin-right: 10%;
	margin-left: 10%;
	text-align: left;
}

.content{
	color: #ffd000;
}



.Fachübersicht 
{
	padding-top: 5%;
	position: relative;
	column-count: 4;
    column-fill: balance;
	width: 95%;
	padding-left: 4%;
	column-gap: 1%;
}



.Fachübersicht img
{
	position: relative;
	width: 90%;
	display: block;
	padding-bottom: 5%;
	
	/*opacity: 0.8;*/


	transition: all 300ms ease;
}
.Fachübersicht img:hover
{
	opacity: 1;
	transform: scale(1.05);
}

h2
{
	padding-top: 3%;
	padding-right: 7%;
	padding-left: 7%;
	font-family: Roboto;
	font-size: 64px;
	font-style: normal;
	font-weight: 400;
	line-height: 75px;
	letter-spacing: 0em;
	text-align: center;

}



.grid-text
{
	padding-top: 2.5%;
	padding-left: 3%;
	padding-right: 1%;
	font-family: Roboto;
	font-size: 24px;
	line-height: 30px;
}


#Fachvorstellung_Video
{
	align-content: center;
	width: 46%;
	padding-left: 3%;
	margin-top: 3%;
	float:left;
	padding-right: 1%;
}

.top-container{
	float:left;
}

#Bilderübersicht
{
	width:30%;
    float:left;
	margin-top: 3%;
	margin-left: 5%;
	margin-bottom: 3%;
	transition: all 300ms ease;
	box-shadow: 0px 0px 25px 5px rgba(0,0,0,0.75);
}

#Bilderübersicht:hover
{
	transition: scale 300ms ease;
	transform: scale(1.05);
	box-shadow: 0px 0px 25px 7px rgba(0,0,0,0.75);
}




.Pfeil-links
{ 
 	float: left;
	width: 7.5%;
	padding-top:10%;
	padding-left: 25%;
}
.Pfeil-rechts
{ 
    float: left;
	width: 7.5%;
    padding-top: 10%;
	padding-left: 5%;
}



.Bildergalerie-Div 
{
	padding-top: 5%;
	height: 45vh;
	text-align: center;
}


.FormDiv-Anmeldeformulare
{
	width: 40%;
	margin-left: 10%;
	float:left;
	margin-top: 3%;
	padding: 1%;
	display: grid;
	grid-template-rows: minmax(5vh, 15vh) minmax(70%, 75%);
}


h3
{
	font-size: 32px;
}

.Main-Headline-Anmeldeformulare h1{
	font-size: 8vh;
}

.Headline-Anmeldeformular
{
	padding: 5%;
	font-size: 5.25vh;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.5);
}

.Anmeldeformulate-Text{
	font-size: 2.5vh;
	padding: 2.5%;
	text-align: start;
	background-color: rgba(255, 255, 255, 0.5);
}

.Div-Formulare{
	place-content: center;
	padding-top: 2.5%;
	margin-top: 2.5%;
	display: grid;
	width: 40%;
	max-height: 60%;
	grid-template-rows: minmax(25%, 45%) minmax(25%, 45%);
}

.Div-Formulare-Child{
	display: grid;
  	place-items: center;
}

.Formulare
{
	display: grid;
  	place-items: center;
	width: 100%;
	height: 100%;
}
.Formulare img
{
	max-width: 70%;
}

/*CSS Transitions*/


.Pfeil-links:hover{
	transform: scale(1.03);
}

.Pfeil-rechts:hover{
	transform: scale(1.03);
}

.links
{
	text-align: center;
	color: #C4C4C4;
}

.links a
{
	font-size: 2rem;
	color: #C4C4C4;
	text-decoration: underline;
	transition: all 300ms ease;
}

.links a:hover
{
	color: #DDD;
}

