
:root
{
  font-size: 16px !important;
}
/*
.Navigation{
  background-color: #dedede;
  width: 100vw;
  height: 11vh;
  border-bottom: black 1px solid;
} */

.NavbarListItem{
  /* float: left; */
  box-shadow: unset;
  /* margin-bottom: 1.5vh; */
  /* background-color: white; */
}

.NavbarListItem a{
  font-size: 1.2rem;
  background-color: unset;
  opacity: 1;
  /* color: #000; */

}

.Headline-Schulrundgang{
  display: grid;
  place-items: center;
  width: 100%;
}

h1
{
  padding: 0;
  float: left;
  font-size: 2.0rem;
  font-family: Oranienbaum;
  font-style: normal;
  font-weight: normal;
  line-height: 3.2rem !important;
  text-align: center;
  color: #FFFAFA;
  text-shadow: 3px 5px 4px rgba(0, 0, 0, 0.3);
}

#Trailer_Startseite
{
	align-content: center !important;
	width: 90% !important;
  padding: 5% !important;
}

#Trailer_Schulrundflug
{
  align-content: center;
	width: 90% !important;
  padding-left: 5% !important;
  padding-right: 5% !important;
  padding-top: 25% !important;
  padding-bottom: 10% !important;
}


.schulrundflugAbstandMobile
{
  height: 20vh !important;
}


.FormDiv-Anmeldeformulare
{
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

.Fachübersicht
{
	padding-top: 5% !important;
	position: relative !important;
	column-count: 2 !important;
  column-fill: balance !important;
	width: 95% !important;
	padding-left: 4% !important;
	column-gap: 1% !important;
}



.Fachübersicht img
{
	position: relative !important;
	width: 90% !important;
	display: block !important;
	padding-bottom: 5% !important;

	/*opacity: 0.8;*/


	transition: all 300ms ease !important;
}


#Fachvorstellung_Video
{
  width: 95% !important;
  margin-left: 2.5% !important;
  margin-right: 0% !important;
  padding-left:0% !important;
  margin-bottom: 5% !important;
}

.FormDiv
{
  width: 100% !important;
  margin-left: 0% !important;
}



.Pfeil-links
{
  padding-top: 17% !important;
  width: 10% !important;
  padding-left: 2.5% !important;
}

.Pfeil-rechts
{
  width: 10% !important;
  padding-right: 5% !important;
  padding-top: 17% !important;
}

#Bilderübersicht
{
  width: 60% !important;
}

#Startseite{
  width: 100% !important;
  margin: 0% !important;
  background-color: white !important;
  border-top  : black 1px solid !important;
}

.text {
  padding-left: 3vh !important;
  padding-top: 1.5vh !important;
  padding-right: 3vh !important;
}

#float-right-mobileCSS{
  float: right !important;
}


.FormDiv-Anmeldeformulare{
  width: 90%;
  margin-right: 5vw;
  margin-left: 5vw;
  grid-template-rows: minmax(1vh, 5vh) minmax(20px, 65%);
}

.Headline-Anmeldeformular
{
  padding: 0.25%;
  text-align: center;
  font-size: 3.1vh;
}

.Anmeldeformulate-Text{
  padding: 1%;
  font-size: 2.25vh;
  text-align: start;
}

.Main-Headline-Anmeldeformulare h1{
  margin-top: 0%;
  padding: 0;
  font-size: 2.5rem;
  display: grid;
  place-items: center;
  width: 100%
}

.Formulare img {
  max-width: 70%;
}


.FAQ{
	text-align: left;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 7vh 1fr 7vh 1fr 7vh 1fr 7vh 1fr 7vh 1fr 7vh 1fr 7vh 1fr 7vh 1fr 7vh 1fr 7vh 1fr 7vh 1fr 7vh 1fr 7vh 1fr 7vh 1fr 7vh 1fr 7vh 1fr 7vh 1fr 7vh 1fr 7vh 1fr 7vh 1fr 7vh 1fr 7vh;
}
